*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin: auto;
    background-color: #FFC312;
    flex-direction: column;
}
body{
    background-color: #FFC312;
}
.search {
    width: 80%;
    display: flex;
    
    justify-content: center;
    padding: 1em 1em;
}


.search .search-input,.search .search-button {
    border: 0;
    padding: 1em;
}

.search .search-input {
    width: 100%;
}

.search .search-button {
    background-color: #2b75bb;
    color: #fff;
    cursor: pointer;
}
.bloco{
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex-item{
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #163f5e;
}

.pokemon-name{
    padding: 24px;
    font-size: 50px;
    color: #FFC312;
    text-transform: capitalize;
}
.pokemon-type{
    padding: 24px;
    font-size: 35px;
    color: #fff;
    text-transform: capitalize; 
}
.flex-item img {
    border: 3px solid #FFC312;
    height: 250px;
    width: 250px;
    
    
}
#minhaDiv{
    display: none;
}

.flex-item #pokemon-moves {
    margin: 10px 30px;
    color: #fff;
    font-size: 24px;
}
.moves span{
    margin: auto;
    color: #FFC312;
    text-transform: uppercase;
    font-size: 55px;
}
.flex-item #pokemon-weight{
    margin: 10px 30px;
    color: #fff;
    font-size: 24px;
}
.flex-item #pokemon-height{
    margin: 10px 30px;
    color: #fff;
    font-size: 24px;
}